.container {
    margin-top: 20px!important;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fafafa;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: auto;
}

.title {
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 28px;
}

.classItem {
    background-color: #FFF;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.button {
    background-color: #009688;
    color: #FFF;
    padding: 15px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #00796B;
}

.topbox {
    display: flex;
    column-gap: 30px;
    margin-bottom: 20px;
}

.bottombox {
    display: flex;
    column-gap: 30px;
    margin-top: 20px;
}

.classSubItem {
    margin: 10px 0;
    color: #757575;
    font-weight: 500;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none!important;
    color: #3f51b5;
}
.tableCenter{
    margin: auto;
}
.tableCenter > tbody > tr>td{
    text-align: center;
}
.btn{
    margin-top: 20px;
}
.AddParts{
    border: rgb(207, 207, 207) solid 1px;
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 10px;
}
.flexed{
    display: flex;
    justify-content: space-evenly;
}
.custom{
    background-color: #ff5900!important;
    color : white!important;
}
.card{
    width: 80%;
}
.contractList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adjust the gap as needed */
}

.contractItem { 
    flex: 1 1 calc(33.333% - 20px);
    border: 1px solid #ccc; 
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 10px 5px 5px #efefef;
    background-color: white;
}

.pagination{
    margin-top: 15px;
}
