.bannerPic{
    overflow: hidden;
    text-align: center;
    background-image: url("../assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 91vh;
}
.bannerTxt{
    padding-top : 20vh
}
.hotel-card-img{
    max-height: 20rem;
}
.hotel-card{
    width: 20rem;
}
.setFlex{
    margin-top: 50px;
}
.header{
    height: 10vh;
}
.col-md-6{
    width: auto!important;
}
.flexed-dist{
    display: flex;
    justify-content: space-between;
}